/* FOOTER */
footer {
    /* border-top: 2px  solid var(--darker); */
    font-size: 1.1rem;
    height: var(--footerHeight);
    position: fixed;
    bottom: 0;
    padding-left: var(--paddingHorizontal);
    font-style: italic;
    background-color: var(--elementsBackground);
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Text container */
#footer-text {
    margin-right: 20px;
}
/* Social media buttoncs container */
#social-container {
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
}

/* RWD */
@media only screen and (max-width: 850px) {
    #social-container {
        width: 100px;
        display: flex;
    }
}
@media only screen and (max-width: 450px) {
    
}
@media only screen and (max-width: 360px) {

}