/* HEADER */
header {
    position: fixed;
    top: 0;
    padding-left: var(--paddingHorizontal);
    padding-right: var(--paddingHorizontal);
    z-index: 9;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--elementsBackground);
}

/* MENU */

/* Normal divices Nav-bar */
#navbar {
    display: flex;
    justify-content: space-around;
}

/*Small divice popup menu */
#popup-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    display: none;
    width: 100vw;
    top: var(--headerHeight);
    background-color: var(--elementsBackground);

    height: 0%;
    overflow: hidden;
    transition: height 0.6s;
}

/* MANU ITEMS */

/* Menu link  */
menu a {
    text-decoration: none;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    width: 80px;
    margin-left: 3px;
    background-color: transparent;
}

/* Active page */
.active-menu-item {
    color: var(--dark);
    background-color: rgba(255, 255, 255, 0.2);
}

/* Hamburger icon */
#hamburger {
    display: none;
}

/* LOGO */
#logo {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* RWD */
@media only screen and (max-width: 850px) {
    #navbar{
        display: none;
    }
    #hamburger {
        padding-right: 5px;
        display: block;
    }
    header {
        justify-content: space-between;
        padding: 0;
    }
    #popup-menu {
        display: block;
        /* margin-top: var(--headerHeight); */
    }
    menu a {
        height: 50px;
        width: 65%;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }    
}
@media only screen and (max-width: 450px) {
    #logo {
        display: none;
    }
    header {
        justify-content: end;
    }
    
}
@media only screen and (max-width: 360px) {

}