#contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}
.social-icons-contact {
    width: 100%;
}
/* Contact form */
input {
    width: 400px;
    display: block;
    margin-bottom: 20px;
    height: 20px;
}
textarea {
    margin-bottom: 20px;
    width: 400px;
    max-width: 400px;
    min-height: 200px;
}
input, textarea {
    color: black;
}
label {
    width: 400px;
    display: block;
    text-align: start;
}
#send {
    width: 100px;
    justify-self: start;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#contact-info {
    justify-self: start;
}
#contact-social {
    display: flex;
    margin-top: 10px;
}
#mail-contact{
    margin-bottom: 20px;
}
.single-contact {
    margin-bottom: 5px;
}
h3 {
    border-bottom: 1px solid white;
}

/* RWD */
@media only screen and (max-width: 850px) {
   
    #contact-container {
        grid-template-columns: 1fr;
    }
    #contact-info {
        justify-self: center;
        width: 400px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 550px) {

    #contact-info, input, label, textarea, form {
        width: 80vw;
    }
    textarea {
        
    }

}
@media only screen and (max-width: 360px) {

}