#projects-contaier {
    width: 90%;
    margin: auto;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.projects-card {
    height: 200px;
    width: 100%;
    background-color: white;
    color: black;
    justify-self: center;
}
.discover-link {
    border: 1px solid var(--dark);
}
.projects-card h3 {
    color: black;
}
.projects-card img{
    height: 120px;
    width: auto;
}

.projects-card button {
    display: block;
    border: 1px solid var(--dark);
    color: var(--dark);
}