/* HEADER */
header {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--headerHeight);
    background-color: rgba(255, 255, 255, 0.6);
}

/* Nav-bar */
menu#navbar {
    display: flex;
    justify-content: space-around;
}

/* Popup menu */
menu#popup-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    display: none;
    width: 100vw;
    top: var(--headerHeight);
    background-color: rgba(255, 255, 255, 0.6);
}
/* Button  */
header button {
    height: 100%;
    margin-left: 3px;
    color: var(--darker);
    background-color: transparent;
}
header button:hover {
    color: var(--braker);
}
.blog-btn {
    /* background-color: var(--darker); */
}
#popup-menu button:hover {
    width: 65%
}


#hamburger {
    display: none;
}

/* Logo section */
#logo {
    height: 100%;
}
#logo-img{
    height: 100%;
    transition: width 0.4s, height 0.4s;
}
#logo-img:hover{
    width: 110%;
    height: 110%;
}


/* RWD */
@media only screen and (max-width: 850px) {
    menu#navbar{
        display: none;
    }
    #hamburger {
        display: block;
    }
    header {
        justify-content: space-around;
        padding: 0;
    }
    menu#popup-menu {
        padding: 30px;
    }
    menu button {
        height: 50px;
        width: 65%;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }    
}
@media only screen and (max-width: 450px) {
    #logo {
        display: none;
    }
    
}
@media only screen and (max-width: 360px) {

}