main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background-image: url('../assets/images/img3.jpg'); */
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -10;
}